<table class="teams-table">
  <thead>
  <tr>
    <th></th>
    <th class="teams-table-col">Name</th>
    <th class="teams-table-col">Acronym</th>
    <th class="teams-table-col">Slogan</th>
    <th class="teams-table-col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="teams-table-col">
      <input type="checkbox" name="deleteAll" id="1">
    </td>
    <td class="teams-table-col">Paris Saint Germain</td>
    <td class="teams-table-col">PSG</td>
    <td class="teams-table-col">XXX</td>
    <td class="teams-table-col">
      <a>Edit | Delete</a>
    </td>
  </tr>
  <tr>
    <td class="teams-table-col">
      <input type="checkbox" name="deleteAll" id="2">
    </td>
    <td class="teams-table-col">Paris Saint Germain</td>
    <td class="teams-table-col">PSG</td>
    <td class="teams-table-col">XXX</td>
    <td class="teams-table-col">
      <a>Edit | Delete</a>
    </td>
  </tr>
  <tr>
    <td class="teams-table-col">
      <input type="checkbox" name="deleteAll" id="3">
    </td>
    <td class="teams-table-col">Paris Saint Germain</td>
    <td class="teams-table-col">PSG</td>
    <td class="teams-table-col">XXX</td>
    <td class="teams-table-col">
      <a>Edit | Delete</a>
    </td>
  </tr>
  </tbody>
</table>
