<table class="teams-table">
  <thead>
  <tr>
    <th></th>
    <th class="teams-table-col">Name</th>
    <th class="teams-table-col">Acronym</th>
    <th class="teams-table-col">Slogan</th>
    <th class="teams-table-col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let team of (teams$ |async)">
    <td class="teams-table-col">
      <input type="checkbox" name="deleteAll" [id]="team.name">
    </td>
    <td class="teams-table-col">{{team.name}}</td>
    <td class="teams-table-col">{{team.acronym | uppercase}}</td>
    <td class="teams-table-col">{{team.slogan}}</td>
    <td class="teams-table-col">
      <div class="teams-table-col-actions">
        <span class="teams-table-col-action">Edit</span>
        <span>|</span>
        <span class="teams-table-col-action">Delete</span>
      </div>
    </td>
  </tr>
  </tbody>
</table>
