<table class="teams-table">
  <thead>
  <tr>
    <th></th>
    <th class="teams-table-col">Name</th>
    <th class="teams-table-col">Acronym</th>
    <th class="teams-table-col">Slogan</th>
    <th class="teams-table-col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let team of (teams$ |async)">
    <td class="teams-table-col">
      <input type="checkbox" name="deleteAll" [id]="team.name">
    </td>
    <td class="teams-table-col">{{team.name}}</td>
    <td class="teams-table-col">{{team.acronym}}</td>
    <td class="teams-table-col">{{team.slogan}}</td>
    <td class="teams-table-col">
      <a>Edit | Delete</a>
    </td>
  </tr>
  </tbody>
</table>
