<div class="teams-edition-modal-bg-container"></div>
<div class="teams-edition-modal-container">
  <div class="teams-edition-modal-title-container">
    <span class="teams-edition-modal-title">New Team</span>
  </div>

  <div class="teams-edition-modal-body-container">
    <div class="tw-flex tw-h-full tw-gap-3">
      <div class="tw-w-2/3">
        <div class="teams-edition-modal-body-input-container">
          <label class="teams-edition-modal-body-input-label" for="name">Name</label>
          <input class="teams-edition-modal-body-input" type="text" name="name" id="name">
        </div>
      </div>
      <div class="tw-flex-auto">
        <div class="teams-edition-modal-body-input-container">
          <label class="teams-edition-modal-body-input-label" for="acronym">Acronym</label>
          <input class="teams-edition-modal-body-input" type="text" name="acronym" id="acronym">
        </div>
      </div>
    </div>

    <div class="teams-edition-modal-body-input-container">
      <label class="teams-edition-modal-body-input-label" for="slogan">Acronym</label>
      <textarea class="teams-edition-modal-body-textarea" name="slogan" id="slogan" rows="5"></textarea>
    </div>

    <div class="teams-edition-modal-buttons-container">
      <button class="btn-out-orange" type="button">Cancel</button>
      <button class="btn-orange" type="button">Save</button>
    </div>
  </div>
</div>
